// @import '~bootstrap';
$text-color: #112D45;
$btn-h: 50px;
$main-font: Open Sans;
$back-color: #F3F4F6;


body{
  background-color: $back-color;
}

@media (max-width: 767px) {
   
}


/* header */

.header{
  background: linear-gradient(0.04deg, #EDEEF0 0.44%, $back-color 59.24%, $back-color 84.89%);
  box-shadow: 0px 0px 25px rgba(52, 52, 53, 0.15);
  margin-left: 30px;
  margin-right: 30px;
}

// .navbar{
//   align-items: center;
//   justify-content: space-between;
//   height: 91px;
// }

.nav-set{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.client-items{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo a{
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-color;

}

.nav-set a{
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: capitalize;
  color: $text-color;
  text-decoration: none;
}

.client-items a{
  font-size: 13px;
  line-height: 13px;
  color: $text-color;
}

.xbox-cart{
position: absolute;
top: 7px;
margin-left: 5px;
z-index: 10;
font-size: 10px;
color: #fff;
border-radius: 50%;
background: #FA4B00;
width: 20px;
height: 20px;
text-align: center;
line-height: 20px;
opacity: .7;
}
.aurth-ok{
position: absolute;
margin-left: 5px;
z-index: 10;
font-size: 20px;
width: fit-content;
height: 20px;
text-align: center;
line-height: 20px;
opacity: .7;
left: 1px;
}

/* sale page */

.main-content{
  background: linear-gradient(0.28deg, #EDEEF0 0.44%, $back-color 59.24%, $back-color 84.89%);
  box-shadow: 0px 0px 25px rgba(52, 52, 53, 0.15);
  border-radius: 0px;
  margin-left: 30px;
  margin-right: 30px;

}

.home-page{
display: flex;
align-items: center;
justify-content: space-around;
height: 500px;
}

.old-price{font-family: $main-font;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 29px;
text-align: center;

color: $text-color;
margin-bottom: 20px;
}
.old-price .old{
  text-decoration: line-through;
}

.new-price{
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  color: #802020;
  margin-bottom: 20px;
}

.home-page .sale .btn-lrg{
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;
  border: 1px solid #46749B;
  box-sizing: border-box;
  width: 110.55px;
  height: 40px;
}

.home-page .sale{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.home-page img{
  animation-name: rotatre;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatre {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/* products list */

.checkboks-list{
  background: linear-gradient(61.92deg, $text-color 41.86%, #245279 100.89%);
  height: fit-content;
}

.checkboks-list .card{
  background: transparent;
  border: none;
}
.checkboks-list .card .card-header{
  background: none;
  border: none;
}

.checkboks-list
 .card .btn{
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  color: #FAFBFE;
  text-decoration: none;
}
.material, .type{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.material label, .type label{
  font-family: $main-font;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #AABCD4;
}

#card-body {
  padding-left: 50px;
}

.card-body input[type=checkbox]{
vertical-align: super;
}

#accordion{
  margin-top: 35px;
  margin-left: 60px;
}

.roducts{
  justify-content: space-between;
}


/* footer */

.footer{
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 30px;
  // z-index: 5;
}

.foot-list a{
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.title-footer{
  margin-bottom: 15px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: $text-color;
}

.social-down{
  display: flex;
  align-items: center;
  width: 23px;
height: 24px;
}

.mail-set input{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: $main-font;
  font-size: 13px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.7);
  border:none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.5);
}

.rights{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
  font-family: $main-font;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}


.col-fore img{
  width: 205px;
  height: 195px;
}
.col-fore h2 a{
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: $text-color;
  width: 205px;
}

.col-fore .titleEl{
text-align: center;
}

.product-list{
  display: flex;
  flex-direction: column;
}

.product-list .btn-group{
  display: flex;
  justify-content: end;
}
.products{
  display: block;
}
.col-fore{
  float: left;
  margin: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.col-fore button{
  width: 110px;
  height: 40px;
  border: 1px solid #46749B;
  box-sizing: border-box;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $text-color;
}

.col-fore .cost{
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: $text-color;
  margin-bottom: 15px;
}

/* product page */

/* .product-page .row{
  margin:30px; */
/* } */
.product-page .row .col-6{
  margin-top: 30px;
  padding-left: 60px;
}
.panel-heading a{
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: $text-color;
  text-decoration: none;
}
.product-page .panel-body{
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $text-color;
  margin-left: 40px;
}
.product-page .panel-default{
  margin-bottom: 20px;
}
.product-page .panel-group{
  padding-bottom: 30px;
}
.product-page .title-name{
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: $text-color;
  margin-bottom: 55px;
  margin-top: 30px;
}

.product-page .price{
  font-family: $main-font;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 29px;
display: flex;
align-items: center;
color: $text-color;
margin-bottom: 40px;
}
.product-page .quantity{
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.product-page .quantity lable{
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $text-color;
  margin-right: 20px;
}
.product-page .quantity select{
  width: 60px;
  height: 30px;
  border: 1px solid $text-color;
  box-sizing: border-box;
  background: #E5E5E5;
}

.product-page button{
  border: 1px solid $text-color;
  box-sizing: border-box;
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: $text-color;
  text-transform: uppercase;
  width: 160px;
  height: $btn-h;
}

.product-page button,
.product-page img,
.product-page .btn-added{
  display: flex;
  justify-content: space-around;

}

.product-page img{
  width: 100%;
  height: auto;
}

.cart-page .row img{
  width: 100%;
}

.cart-page{
  margin-bottom: 50px;
}
.title-product-cart{
  margin-bottom: 60px;
  margin-top: 30px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: $text-color;
}

.cart-page .select{
  width: 60px;
  height: 30px;
  border: 1px solid $text-color;
  box-sizing: border-box;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $text-color;
  background: #E5E5E5;
  display: flex;
  align-items: center;
}

.cart-page .checkout-btn-single button,
.cart-footer button{
    width: 140px;
    height: $btn-h;
    background: $text-color;
    border: 1px solid $text-color;
    box-sizing: border-box;
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.checkout-btn-single{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-page .remove-btn button{
  width: 80px;
  height: 30px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: $text-color;
  border: 1px solid $text-color;
  box-sizing: border-box;
}
.cart-page .cart-price,
.cart-footer .result-price{
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: $text-color;
}


.cart-page .checkout-btn,
.cart-page .cart-select,
.cart-footer .cart-total-up{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.cart-header, .cart-footer{
  height: 120px;
}

.cart-name{
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  padding: 30px;
}

.cart-row-up,
.cart-row-down{
  display: flex;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: capitalize;
  color: $text-color;
  padding-bottom: 10px;
}
.cart-row-up{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.cart-row-down{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 30px;
}

.cart-quantity,
.cart-footer .cart-subtotal{
  text-align: end;
}

.cart-footer .cart-row-down{
  align-items: center;
}

.cart-subtotal{
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  text-transform: capitalize;
  color: $text-color;
}

/* search */

.search-btn{
  padding-right: 0;
}

.search-btn form {
  position: relative;
  width: 250px;
  margin: 0 auto;
  height: 42px;
}
.search-btn input {
  height: 42px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.search-btn input:focus,
.search-btn input:hover {
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid$text-color;
}
.search-btn button {
  background: none;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search-btn button{
  content: "\f002";
  font-family: $main-font;
  font-size: 16px;
  color: #F9F0DA;
}
.input-search{
  background-color: #EDEEF0;
  z-index: 100;
}

/* search-list page*/

.search-list{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  top: 75px;
  left: 630px;
  background:#46749B;
}

@media (max-width: 1092px) {
  .search-list{ top: 270px;
  left: 30px;
  }
}

.search-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-item img{
  height: 50px;
  width: auto;
  margin-right: 15px;
}


/* authorisait page */

.authorisait-page a:hover, .authorisait-page a:focus{
  outline: none;
  text-decoration: none;
}
.authorisait-page .tab{
  padding: 40px 50px;
  position: relative;
}
.authorisait-page .tab:before{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
}
.authorisait-page .tab .nav-tabs{
  border-bottom: none;
  padding: 0 20px;
  position: relative;
}
.authorisait-page .tab .nav-tabs li{
  margin: 0 30px 0 0;
}
.authorisait-page .tab .nav-tabs li a{
  font-size: 18px;
  color: $text-color;
  border-radius: 0;
  text-transform: uppercase;
  background: transparent;
  padding: 0;
  margin-right: 0;
  border: none;
  border-bottom: 2px solid transparent;
  opacity: 0.5;
  position: relative;
  transition: all 0.5s ease 0s;
  font-family: $main-font;
}
.authorisait-page .tab .nav-tabs li a.active{
  border: none;
  background: transparent;
  opacity: 1;
  border-bottom: 2px solid $text-color;
  color: $text-color;
  font-family: $main-font;
}
.authorisait-page .tab .tab-content{
  padding: 20px 0 0 0;
  margin-top: 40px;
  background: transparent;
  z-index: 1;
  position: relative;
}
.authorisait-page .form-bg{
  background: $text-color;
}
.authorisait-page .form-horizontal .form-group{
  margin: 0 0 15px 0;
  position: relative;
}
.authorisait-page .form-horizontal .form-control{
  height: 40px;
  border: none;
  box-shadow: none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: bold;
  color: $text-color;
  transition: all 0.3s ease 0s;
  border-radius: unset;
  font-family: $main-font;
}
.authorisait-page .form-horizontal .form-control:focus{
  box-shadow: none;
  outline: 0 none;
}
.authorisait-page .form-horizontal .form-group label{
  padding: 0 20px;
  color: $text-color;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-family: $main-font;
}
 
.authorisait-page .form-horizontal .btn{
  width: 100%;
  background: #E5E5E5;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: $text-color;
  text-transform: uppercase;
  margin: 20px 0 30px 0;
  border: 1px solid $text-color;
  border-radius: unset;
  font-family: $main-font;
}
.authorisait-page .form-horizontal .btn:focus{
  background: #E5E5E5;
  color: $text-color;
  outline: none;
  box-shadow: none;
  border-radius: unset;
  font-family: $main-font;
}
 
@media only screen and (max-width: 479px){
  .authorisait-page .tab{
    padding: 40px 20px;
  }
}
.authorisait-page .row{
  display: flex;
  justify-content: space-around;
}